@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

nav {
  height: 4rem;
}
nav div {
  min-width: unset;
}
nav div > a span {
  transform: translateY(-20%);
  right: -10px;
  height: 8px;
  width: 8px;
  border: 1px solid #212528;
  background: #bc424e;
}
nav div #navbarSupportedContent {
  z-index: 2;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}
nav div #navbarSupportedContent ul li span {
  display: none;
}
nav div #navbarSupportedContent form input {
  border: 2px solid #212528 !important;
}
nav div #navbarSupportedContent form button {
  background: #fad725;
  aspect-ratio: 1/1;
}
nav div #navbarSupportedContent form button img {
  height: 2rem;
}

@keyframes rotateAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotatePlus {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
#hero > .row .hero-image {
  order: 1;
  aspect-ratio: 1/1;
}
#hero > .row .hero-image .hero-creative-team-card {
  width: 80%;
  max-width: 17rem;
  aspect-ratio: 7/3;
  box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.034), 0 0 5.3px rgba(0, 0, 0, 0.048), 0 0 10px rgba(0, 0, 0, 0.06), 0 0 17.9px rgba(0, 0, 0, 0.072), 0 0 33.4px rgba(0, 0, 0, 0.086), 0 50px 80px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
#hero > .row .hero-image .hero-creative-team-card h2 {
  color: #212528;
  font-family: "Inter", sans-serif;
}
#hero > .row .hero-image .hero-creative-team-card .creative-team .creative-team-member {
  aspect-ratio: 1/1;
}
#hero > .row .hero-image .hero-creative-team-card .creative-team .creative-team-member .team-member-image-container {
  width: 130%;
  height: 130%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
#hero > .row .hero-image .hero-creative-team-card .creative-team .creative-team-member:nth-child(1) .team-member-image-container {
  background: url("./images/hero/hero_member_1.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#hero > .row .hero-image .hero-creative-team-card .creative-team .creative-team-member:nth-child(2) .team-member-image-container {
  background: url("./images/hero/hero_member_2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#hero > .row .hero-image .hero-creative-team-card .creative-team .creative-team-member:nth-child(3) .team-member-image-container {
  background: url("./images/hero/hero_member_3.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#hero > .row .hero-image .hero-creative-team-card .creative-team .creative-team-member:nth-child(4) .team-member-image-container {
  background: url("./images/hero/hero_member_4.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#hero > .row .hero-image .hero-creative-team-card .creative-team .creative-team-member:nth-child(5) .team-member-image-container {
  background: #dcddff;
  border: 0.79px dashed #6f77f1;
  animation: rotateAnimation 10s linear infinite;
}
#hero > .row .hero-image .hero-creative-team-card .creative-team .creative-team-member:nth-child(5) .team-member-image-container:hover {
  cursor: pointer;
}
#hero > .row .hero-image .hero-creative-team-card .creative-team .creative-team-member:nth-child(5) .team-member-image-container img {
  animation: rotatePlus 10s linear infinite;
  height: 50%;
  width: 50%;
}
#hero > .row .hero-content {
  order: 2;
}
#hero > .row .hero-content h1 {
  font-size: min(7vw, 2.5rem);
  color: #212528;
  font-family: "Inter", sans-serif;
}
#hero > .row .hero-content h1 > span {
  font-family: "Poppins", sans-serif;
  font-size: min(5vw, 1.8rem);
  right: -2%;
  color: #6f77f1;
  transform: rotate(-8.23deg);
  border: 2px solid #6f77f1;
}
#hero > .row .hero-content h1 > span span {
  height: 7px;
  width: 7px;
  background: #6f77f1;
  position: absolute;
}
#hero > .row .hero-content h1 > span span:nth-of-type(1) {
  top: -13%;
  left: -5%;
}
#hero > .row .hero-content h1 > span span:nth-of-type(2) {
  top: -13%;
  right: -5%;
}
#hero > .row .hero-content h1 > span span:nth-of-type(3) {
  bottom: -13%;
  right: -5%;
}
#hero > .row .hero-content h1 > span span:nth-of-type(4) {
  bottom: -13%;
  left: -5%;
}
#hero > .row .hero-content p {
  color: #727272;
  font-size: min(3.3vw, 1.1rem);
}
#hero > .row .hero-content .hero-button-group button {
  background: #fad725;
  color: #212528;
  border-radius: 3px;
}
#hero > .row .hero-content .hero-button-group a span {
  color: #212528;
}
#hero > .row .hero-content .hero-button-group a img:last-child {
  right: -17%;
}

#projects .project-card {
  aspect-ratio: 13/8;
  max-width: 27rem;
}
#projects .project-card .project-card-body {
  border-radius: 3px;
  box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.034), 0 0 5.3px rgba(0, 0, 0, 0.048), 0 0 10px rgba(0, 0, 0, 0.06), 0 0 17.9px rgba(0, 0, 0, 0.072), 0 0 33.4px rgba(0, 0, 0, 0.086), 0 50px 80px rgba(0, 0, 0, 0.12);
}
#projects .project-card .project-card-body .project-card-image {
  aspect-ratio: 1/1;
}
#projects .project-card .project-card-body h3 {
  color: #212528;
  font-size: min(6vw, 2rem);
}
#projects .project-card .project-card-body .project-card-description {
  color: #828282;
  font-size: min(3.2vw, 1rem);
}
#projects .project-card .project-card-body a {
  aspect-ratio: 1/1;
  margin-right: 5%;
}

#optimise .bg-circle {
  width: 30%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  background: #f5fdff;
}
#optimise .optimise-heading {
  color: #212528;
}
#optimise .optimise-heading span {
  color: #6f77f1;
}
#optimise .optimise-description {
  font-size: min(4.5vw, 0.93rem);
  color: #727272;
}
#optimise .optimise-card-container .optimise-card {
  aspect-ratio: 20/21;
  max-width: 22rem;
}
#optimise .optimise-card-container .optimise-card .optimise-card-body {
  border-bottom: 4px solid transparent !important;
}
#optimise .optimise-card-container .optimise-card .optimise-card-body:hover {
  border-bottom: 4px solid #717ae0 !important;
  box-shadow: 2px 0 10px #ddd, 0 -2px 10px #fff, -2px 0 10px #ddd, 0 2px 10px #fff, 0 -2px 10px #fff, 0 2px 10px #fff;
  cursor: default;
  background: #fff;
}
#optimise .optimise-card-container .optimise-card .optimise-card-body .bg-text {
  font-size: min(60vw, 15rem);
  color: #fafaff;
  right: 10%;
  top: 40%;
  transform: translateY(-50%);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#optimise .optimise-card-container .optimise-card .optimise-card-body .image-circle {
  z-index: 2;
  width: 35%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background: #f9ebf0;
}
#optimise .optimise-card-container .optimise-card .optimise-card-body .image-circle img {
  width: 85%;
  bottom: 20%;
  right: 13%;
}
#optimise .optimise-card-container .optimise-card .optimise-card-body .optimise-card-text {
  z-index: 2;
}
#optimise .optimise-card-container .optimise-card .optimise-card-body .optimise-card-text .optimise-card-heading {
  color: #212528;
}
#optimise .optimise-card-container .optimise-card .optimise-card-body .optimise-card-text .optimise-card-description {
  color: #828282;
  font-size: min(4vw, 0.9rem);
}
#optimise .optimise-card-container .optimise-card:nth-of-type(2) .optimise-card-body .image-circle {
  background: #ebf9f3;
}
#optimise .optimise-card-container .optimise-card:nth-of-type(3) .optimise-card-body .image-circle {
  background: #ebf8fe;
}
#optimise .optimise-card-container .optimise-card:nth-of-type(4) .optimise-card-body .image-circle {
  background: #f2f3fa;
}

#solution .solution-content {
  order: 2;
}
#solution .solution-content .solution-content-heading {
  color: #212528;
}
#solution .solution-content .solution-content-heading span {
  color: #6f77f1;
}
#solution .solution-content .solution-content-description {
  color: #828282;
  font-size: min(4.5vw, 0.93rem);
}
#solution .solution-content .btn-learn-more {
  width: -moz-fit-content;
  width: fit-content;
  background: #fad725;
  color: #212528;
  border-radius: 3px;
}
#solution .solution-image {
  order: 1;
}

#blog .blog-card {
  aspect-ratio: 7/5;
  max-width: 22rem;
}
#blog .blog-card .blog-card-body {
  border-radius: 3px;
}
#blog .blog-card .blog-card-body:hover {
  box-shadow: 2px 6px 10px #aaa, -2px 6px 10px #aaa, 0 -30px 10px #fff;
}
#blog .blog-card .blog-card-body .blog-card-image {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 25%;
  background: #ffe8df;
}
#blog .blog-card .blog-card-body .blog-card-heading {
  color: #212528;
}
#blog .blog-card .blog-card-body .blog-card-description {
  font-size: min(3.3vw, 0.82rem);
  color: #828282;
}
#blog .blog-card .blog-card-body a {
  font-size: min(3.2vw, 0.8rem);
  color: #6f77f1;
}
#blog .blog-card:nth-of-type(2) .blog-card-image {
  background: #e3ffdf !important;
}
#blog .blog-card:nth-of-type(3) .blog-card-image {
  background: #fff8df !important;
}

#whywe {
  background: #fafafa;
}
#whywe .whywe-heading {
  color: #212528;
}
#whywe .whywe-heading span {
  color: #6f77f1;
}
#whywe .whywe-description {
  color: #828282;
  font-size: min(4.5vw, 0.93rem);
}
#whywe .whywe-card-container .whywe-card {
  aspect-ratio: 7/4;
}
#whywe .whywe-card-container .whywe-card .whywe-card-body {
  background: #fff;
  border-radius: 5px;
}
#whywe .whywe-card-container .whywe-card .whywe-card-body .whywe-card-content h6 {
  font-size: min(5vw, 1.5rem);
  color: #212528;
}
#whywe .whywe-card-container .whywe-card .whywe-card-body .whywe-card-content p {
  font-size: min(3vw, 1rem);
  color: #828282;
}
#whywe .whywe-card-container .whywe-card .whywe-card-body .whywe-card-content button {
  width: -moz-fit-content;
  width: fit-content;
  color: #212528;
  background: #fad725;
  font-size: min(3vw, 0.85rem);
  border-radius: 4%;
}

#about .about-content .about-content-heading {
  color: #212528;
}
#about .about-content .about-content-heading span {
  color: #6f77f1;
}
#about .about-content .about-content-description {
  color: #828282;
  font-size: min(4.5vw, 0.93rem);
}
#about .about-content .about-content-card-container .about-card {
  aspect-ratio: 2/1;
  max-width: 22rem;
}
#about .about-content .about-content-card-container .about-card .about-card-body {
  border-radius: 3px;
}
#about .about-content .about-content-card-container .about-card .about-card-body .about-card-image .image-container {
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #f9e4dc;
}
#about .about-content .about-content-card-container .about-card .about-card-body .about-card-image .image-container img {
  width: 50%;
  aspect-ratio: 1/1;
}
#about .about-content .about-content-card-container .about-card .about-card-body .about-card-content h5 {
  color: #212528;
  font-size: min(5vw, 1.1rem);
}
#about .about-content .about-content-card-container .about-card .about-card-body .about-card-content p {
  color: #828282;
  font-size: min(3.6vw, 0.8rem);
}
#about .about-content .about-content-card-container .about-card .about-card-body:hover {
  border: none;
  box-shadow: -2px 12px 10px #aaa, 1px 6px 10px #aaa;
}
@media (min-width: 576px) {
  #about .about-content .about-content-card-container .about-card .about-card-body {
    border: 1px solid #e1e1e1;
  }
  #about .about-content .about-content-card-container .about-card:nth-last-of-type(1), #about .about-content .about-content-card-container .about-card:nth-last-of-type(2) {
    height: 10rem;
  }
  #about .about-content .about-content-card-container .about-card:nth-of-type(3) {
    height: 7rem;
    max-width: 100%;
  }
  #about .about-content .about-content-card-container .about-card:nth-of-type(3) .about-card-image .image-container {
    height: 70%;
    width: unset !important;
    aspect-ratio: 1/1;
  }
  #about .about-content .about-content-card-container .about-card:nth-of-type(3) .about-card-content h5 {
    font-size: 1rem;
  }
  #about .about-content .about-content-card-container .about-card:nth-of-type(3) .about-card-content p {
    font-size: 0.7rem;
  }
}
#about .about-content .about-content-card-container .about-card:nth-of-type(2) .image-container {
  background: #d6f0d2 !important;
}
#about .about-content .about-content-card-container .about-card:nth-of-type(3) .image-container {
  background: #fef5d4 !important;
}
#about .achivements-container {
  border-collapse: collapse;
}
#about .achivements-container .numbers {
  aspect-ratio: 1/1;
}
#about .achivements-container .numbers .numbers-body {
  border: 2px solid #e1e1e1;
}
#about .achivements-container .numbers .numbers-body h2 {
  color: #828282;
  font-size: 10vw;
}
#about .achivements-container .numbers .numbers-body p {
  color: #6f6f6f;
  font-size: 2.2vw;
}

@media (min-width: 768px) {
  #hero > .row .hero-image {
    order: unset;
  }
  #hero > .row .hero-image .hero-creative-team-card {
    width: 40%;
    max-width: 10rem;
    position: absolute;
    bottom: 3%;
    left: -13%;
  }
  #hero > .row .hero-image .hero-creative-team-card h2 {
    font-size: 0.6rem !important;
  }
  #hero > .row .hero-content {
    order: unset;
  }
  #hero > .row .hero-content h1 {
    font-size: min(4vw, 1.9rem);
  }
  #hero > .row .hero-content h1 span {
    font-size: min(2.5vw, 1.3rem);
  }
  #hero > .row .hero-content p {
    font-size: min(1.8vw, 0.76rem);
  }
  #projects .project-card .project-card-body h3 {
    font-size: min(2vw, 1rem);
  }
  #projects .project-card .project-card-body .project-card-description {
    font-size: min(3.2vw, 0.54rem);
  }
  #solution .solution-content {
    order: unset;
  }
  #solution .solution-content .solution-content-description {
    font-size: min(4vw, 0.65rem);
  }
  #solution .solution-content .btn-learn-more {
    font-size: min(3.5vw, 0.6rem);
  }
  #solution .solution-image {
    order: unset;
  }
  #blog .blog-card {
    aspect-ratio: 7/8;
  }
  #blog .blog-card .blog-card-body .blog-card-description {
    font-size: min(1.5vw, 0.7rem);
  }
  #blog .blog-card .blog-card-body a {
    font-size: min(1.4vw, 0.65rem);
  }
  #whywe .whywe-card-container .whywe-card {
    aspect-ratio: 2/3;
  }
  #whywe .whywe-card-container .whywe-card .whywe-card-body .whywe-card-image {
    height: 50%;
    overflow: hidden;
  }
  #whywe .whywe-card-container .whywe-card .whywe-card-body .whywe-card-image img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  #whywe .whywe-card-container .whywe-card .whywe-card-body .whywe-card-content {
    height: 50%;
  }
  #whywe .whywe-card-container .whywe-card .whywe-card-body .whywe-card-content h6 {
    font-size: min(2.5vw, 1.2rem);
  }
  #whywe .whywe-card-container .whywe-card .whywe-card-body .whywe-card-content p {
    font-size: min(1.5vw, 0.71rem);
  }
  #whywe .whywe-card-container .whywe-card .whywe-card-body .whywe-card-content button {
    font-size: min(3vw, 0.85rem);
    border-radius: 4%;
  }
  #about .about-content .about-content-heading {
    font-size: min(3vw, 1.5rem);
  }
  #about .about-content .about-content-description {
    font-size: min(1.8vw, 0.85rem);
  }
  #about .about-content .about-content-card-container .about-card {
    aspect-ratio: 7/3;
    height: unset !important;
    max-width: unset !important;
  }
  #about .about-content .about-content-card-container .about-card .about-card-body {
    border: none;
  }
  #about .about-content .about-content-card-container .about-card .about-card-body .about-card-image .image-container {
    height: unset !important;
    width: 100% !important;
  }
  #about .about-content .about-content-card-container .about-card .about-card-body .about-card-content h5 {
    font-size: 1rem;
  }
  #about .about-content .about-content-card-container .about-card .about-card-body .about-card-content p {
    font-size: 0.7rem;
  }
  #about .achivements-container {
    border: 1px solid #e1e1e1;
  }
  #about .achivements-container .numbers {
    aspect-ratio: 1/1;
  }
  #about .achivements-container .numbers .numbers-body {
    border: none;
  }
  #about .achivements-container .numbers .numbers-body h2 {
    font-size: min(8vw, 3rem);
  }
  #about .achivements-container .numbers .numbers-body p {
    font-size: min(1.2vw, 0.7rem);
  }
  #about .achivements-container span .circle {
    height: 13px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: #d1563b;
  }
  #about .achivements-container span:nth-of-type(2) .circle {
    background: #3bd165;
  }
  #about .achivements-container span:nth-of-type(3) .circle {
    background: #f7c745;
  }
}
@media (min-width: 992px) {
  nav div {
    height: 100%;
  }
  nav div #navbarSupportedContent {
    flex-grow: unset !important;
    width: 80%;
    min-width: 740px;
  }
  nav div #navbarSupportedContent ul li:hover span {
    height: 2px;
    bottom: 0.2rem;
    background: #6f77f1;
  }
  nav div #navbarSupportedContent ul li:hover span:first-of-type {
    width: 55%;
    left: 11%;
  }
  nav div #navbarSupportedContent ul li:hover span:last-of-type {
    width: 16%;
    right: 11%;
  }
  nav div #navbarSupportedContent form {
    width: 12rem;
    height: 100%;
  }
  nav div #navbarSupportedContent form button img {
    height: unset;
  }
  #hero .row .hero-image {
    padding: 1rem 0;
  }
  #hero .row .hero-image img {
    width: unset !important;
    max-height: 100%;
  }
  #hero .row .hero-image .hero-creative-team-card {
    bottom: 10%;
    left: -3%;
  }
  #hero .row .hero-content h1 {
    font-size: 3.5vw;
  }
  #hero .row .hero-content h1 span {
    font-size: min(2.6vw, 2rem);
  }
  #hero .row .hero-content p {
    font-size: min(1.8vw, 1rem);
  }
  #hero .row .hero-button-group button,
  #hero .row .hero-button-group a span {
    font-size: min(1.8vw, 0.8rem);
  }
  #projects .project-card .project-card-body h3 {
    font-size: min(2vw, 1.7rem);
  }
  #projects .project-card .project-card-body .project-card-description {
    font-size: min(1vw, 0.9rem);
  }
  #optimise .optimise-description {
    font-size: min(4.5vw, 0.93rem);
  }
  #optimise .optimise-card-container .optimise-card {
    aspect-ratio: 5/6;
  }
  #optimise .optimise-card-container .optimise-card .optimise-card-body .bg-text {
    font-size: min(18vw, 15rem);
  }
  #optimise .optimise-card-container .optimise-card .optimise-card-body .optimise-card-text .optimise-card-heading {
    font-size: min(1.4vw, 1.1rem);
  }
  #optimise .optimise-card-container .optimise-card .optimise-card-body .optimise-card-text .optimise-card-description {
    font-size: min(0.95vw, 0.9rem);
  }
  #solution .solution-content .solution-content-description {
    font-size: min(4.5vw, 0.93rem);
  }
  #solution .solution-content .btn-learn-more {
    font-size: min(1.4vw, 0.8rem);
  }
  #blog .blog-card {
    aspect-ratio: 9/7;
  }
  #blog .blog-card .blog-card-body .blog-card-description {
    font-size: min(3.3vw, 0.82rem);
  }
  #blog .blog-card .blog-card-body a {
    font-size: min(3.2vw, 0.8rem);
  }
  #whywe .whywe-card-container .whywe-card {
    aspect-ratio: 5/7;
  }
  #whywe .whywe-card-container .whywe-card .whywe-card-body .whywe-card-image {
    height: 60%;
  }
  #whywe .whywe-card-container .whywe-card .whywe-card-body .whywe-card-content {
    height: 40%;
  }
  #whywe .whywe-card-container .whywe-card .whywe-card-body .whywe-card-content h6 {
    font-size: min(2.2vw, 1.6rem);
  }
  #whywe .whywe-card-container .whywe-card .whywe-card-body .whywe-card-content p {
    font-size: min(1.4vw, 0.9rem);
  }
  #whywe .whywe-card-container .whywe-card .whywe-card-body .whywe-card-content button {
    font-size: min(1.4vw, 0.85rem);
  }
  #about .about-content .about-content-heading {
    font-size: min(3.2vw, 2.1rem);
  }
  #about .about-content .about-content-description {
    font-size: min(4.5vw, 0.93rem);
  }
  #about .about-content .about-content-card-container .about-card {
    aspect-ratio: 7/2;
  }
  #about .about-content .about-content-card-container .about-card .about-card-body .about-card-content h5 {
    font-size: min(1.5vw, 1.7rem);
  }
  #about .about-content .about-content-card-container .about-card .about-card-body .about-card-content p {
    font-size: min(1.1vw, 1.1rem);
  }
}/*# sourceMappingURL=styles.css.map */